{% set item = items[i] %}
<div id={{ item['tab'] }} class="container-fluid tab-pane fade">
    <table class="table table-striped">
        <thead>
            <tr>
                {%- for title in item['titles']%}
                <th>{{title}}</th>
                {%- endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="{{ len(item['transcriptions']) }}">Target</td>
            </tr>
            <tr>
                {% for target in item['targets'] -%}
                <td> 
                    {% if target != None -%}
                    <audio controls preload="none" style="width: 200px">
                        <source src="{{ target }}">
                    </audio>
                    {%- endif %}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ len(item['transcriptions']) }}">GOP</td>
            </tr>
            <tr>
                {%- for gop in item['gops'] %}
                <td>{{gop}}</td>
                {%- endfor %}
            </tr>
            {% for transcription, wavs in zip(item['transcriptions'], item['wavss'])%}
            <tr>
                <td colspan="{{ len(item['transcriptions']) }}">{{transcription}}</td>
            </tr>
            <tr>
                {% for title, wav in zip(item['titles'], wavs) %}
                <td>
                    {{ title }}
                    <audio controls preload="none" style="width: 200px">
                        <source src="{{ wav }}">
                    </audio>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>