{% set item = items[i] %}
<div id={{ item['tab'] }} class="container-fluid tab-pane fade">
    <table class="table table-striped">
        <thead>
            <tr>
                {% for title, repo in zip(item['titles'], item['repos'])%}
                {% if title == 'raw' %}
                <th>{{title}}</th>
                {% else %}
                <th><a href={{repo}}>{{title}}</a></th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="{{ len(item['titles']) }}">gop</td>
            </tr>
            <tr>
                {% for gop in item['gops']%}
                <td>{{gop}}</td>
                {% endfor %}
            </tr>
        </tbody>
        <tbody>
            {% for use_file, wavs in zip(item['use_files'], item['wavss'])%}
            <tr>
                <td colspan="{{ len(item['titles']) }}">{{use_file}}</td>
            </tr>
            <tr>
                {% for title, wav in zip(item['titles'], wavs) %}
                <td>
                {{ title }}
                <audio controls preload="none" style="width: 200px">
                    <source src="{{ wav }}">
                </audio>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>